/* demo */
.typewriter h2 {
  overflow: hidden; /* memastikan konten tidak tampil sebelum animasi dimulai */
  border-right: .15em solid orange; /* cursor pada typewriter */
  white-space: nowrap; /* tetap menjaga konten berada pada satu garis */
  margin: 0 auto; /* membuat efek scrolling pada saat animasi berjalan */
  letter-spacing: .11em; /* tambhakan bila di perlukan */
  animation: 
    typing 6s steps(45, end),
    blink-caret .70s step-end infinite;
}
 
/* efek pengetikan */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
 
/* efek pada cursor */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
.btn {
  margin-left: 5px;
  margin-right: 5px;
}
/* Boostrap Buttons Styling */

.btn-default {
  max-width: 130px;
  font-size: 8px;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid #000000;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.btn-default:hover {
  color: #000000;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  padding: 6px 0;
}
.button2 {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #FFFFFF;
  margin: 20px 20px 20px 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  color: #000000;
  text-decoration: none;
  letter-spacing: 1px;
  
}


/* First Button */



/* Fifth Button */

#button-5 {
  max-width: 89px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-size: 14px;
}

#button-5 a {
  color: #FFFFFF;
  position: relative;
  transition: all .45s ease-Out;
}

#translate {
  transform: rotate(50deg);
  width: 100%;
  height: 250%;
  left: -200px;
  top: -30px;
  background: #FFFFFF;
  position: absolute;
  transition: all .3s ease-Out;
}

#button-5:hover #translate {
  left: 0;
}

#button-5:hover a {
  color: #2D3142;
}


